<phpunit bootstrap="test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Eye4web ZfcUser ForgotPassword">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
</phpunit>